<%- include('partials/header') %>
<section id="Search">
    <div>
        <form action="/artist-search" method="GET" >
        <input type="text" name="atristName" id="TextInput"> <br>
        <input class="btn" type="submit" value="Send me">
    </form>
</div>
</section>

    <%- include('partials/footer') %>